<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="TestSuite" configfailurepolicy="continue" verbose="10"  thread-count="5">


    <parameter name="browser"     value="chrome"/>
    <test name="Test">
        <classes>

            <class name="com.sap.test_cases.non_po_accrual_request.TS_30_Check_SAP_Report">
                <methods>
                    <include name="searchForDpDocumentType"/>
                </methods>
            </class>

            <class name="com.sap.test_cases.non_po_accrual_request.TS_31_Create_NPO_Accrual_CO_HQ">
                <methods>
                    <include name="createNpoAccrualRequest"/>
                </methods>
            </class>
            
            <class name="com.sap.test_cases.non_po_accrual_request.TS_32_Create_NPO_Accrual_Request_Excel_Upload">
                <methods>
                    <include name="createNpoAccrualRequestExcelUpload"/>
                </methods>
            </class>
            
            <class name="com.sap.test_cases.non_po_accrual_request.TS_46_47_Create_NPO_Accrual_Request_Currency">
                <methods>
                    <include name="npoRequestWithLocalCurrency"/>
                </methods>
            </class>

        </classes>
    </test>
</suite>




